@import "~bootstrap";

body {
    /*background-color: rgb(248, 248, 248);*/
}

#barra{
    background-color: rgb(39, 171, 211) !important;
    color: rgb(255, 35, 35) !important;
    
}

#cartao{
    width: 18vw;
}

div#t {
    align-items: center;
    gap: 12px;
}

div#t span{
    color: rgb(70, 159, 54);
}

div{
    margin-top: 10px;
}

p.col-md-8.fs-4{
    color: brown !important;
}