{% extends 'base.html.twig' %}

{% block title %}New Livro{% endblock %}

{% block body %}
    <h1>Create new Livro</h1>

    {{ include('livro_crud/_form.html.twig') }}

    <a href="{{ path('app_livro_crud_index') }}">back to list</a>
{% endblock %}
