{% extends 'base.html.twig' %}

{% block title %}New Livro{% endblock %}

{% block body %}

<div class="container">
    <h1 class="mt-3 text-center">Cadastrar Novo Livro</h1>

    {{ include('livro/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_livro_index') }}">back to list</a>

</div>


{% endblock %}
